body {
    max-width: 2550px;
    font-family: sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    flex-wrap: wrap;
}

.header-photo {
    display: flex;
    flex-grow: 1;
}

.gray-background {
    background: #4C4E50;
    width: 100%;
    height: calc(100% - 80px);
}

.photo-wrapper {
    border-top: 100px solid #4C4E50;
    margin-left: auto;  
}

.my-photo {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 80px solid #157698;
    border-right: none;
    float: right;
}

.header-info {
    padding: 100px 50px 20px 50px;
    border-bottom: 80px solid #157698;
    flex-grow: 1;
    box-sizing: border-box;
}

.contacts {
    max-width: 800px;
}

h1 {
    font-size: 72px;
    font-weight: lighter;
    color: #A9A9A9;
    margin: 0;
}

.strong-blue {
    font-weight: bold;
    color: #157698;
}

.cv-role {
    color: #157698;
    text-transform: uppercase;
    font-weight: normal;
}

.links {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    gap: 30px;
    margin-top: 100px;
    list-style-type: none;
}

.icon-phone,
.icon-github,
.icon-email {
    width: 30px;
    height: auto;
    position: relative;
    bottom: -9px;
    margin-right: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.soft-skills {
    flex-grow: 1;
}

.soft-section {
    max-width: 400px;
    margin: 0 0 0 auto;
    padding: 80px 20px 20px 20px;
}

.hard-skills {
    flex-grow: 1;
    background: #E1E3E5;
}

.hard-section {
    max-width: 750px;
    padding: 80px 20px 20px 0;
}

h3 {
    margin: 20px 0 50px 0;
    font-size: 30px;
    color: #157698;
    text-transform: uppercase;
    font-weight: bold;
    border-left: 10px solid;
    padding: 0 0 0 30px;
}   

.icon {
    width: 100px;
}